@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #121a25; /* Dark blue for main text */
    background-color: #fff;
    font-size: 14px; /* Default font size for content */
    line-height: 1.5; /* 1.5 line spacing for content */
}

h1, h2, h3 {
    color: #ff5534; /* Red for headings */
}

h1 {
    font-size: 24px; /* Font size for main title */
}

h2 {
    font-size: 20px; /* Font size for section titles */
}

h3 {
    font-size: 16px; /* Font size for sub-section titles */
}

code {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 2px 5px;
    text-decoration: none; /* Ensuring no underline appears */
    font-family: 'Roboto', monospace; /* Ensures code maintains a monospace font */
}

pre code {
    display: block;
    padding: 8px;
    overflow-x: auto;
    text-decoration: none; /* Explicitly setting no underline for block code */
}


.tip, .checkpoint {
    background-color: #9088ff; /* Light purple for tips and checkpoints */
    color: #fff;
    padding: 10px;
    border-left: 5px solid #ff5534; /* Red vertical line for emphasis */
    margin: 10px 0;
    border-radius: 5px;
}

header {
    background-color: #121a25; /* Dark blue background */
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-size: 24px; /* Font size for header */
    border-bottom: 5px solid #ff5534; /* Red bottom border */
}

footer {
    background-color: #121a25;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 16px; /* Font size for footer */
    border-top: 3px solid #9088ff; /* Light purple top border */
}
